body {
    margin: initial;
}

*:focus-visible {
    outline: 2px solid var(--colors-content-primary, currentColor);
    outline-offset: 6px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

pre {
    white-space: pre-wrap;
}
