@use './variables/fonts.scss' as *;
@use './mixins/font-face.scss' as *;

@include font-face($default-font-name, 'rules-variable-wdth-wght-slnt') {
    font-stretch: 25% 200%;
    font-style: oblique -10deg 0deg;
    font-weight: 100 900;
}

body {
    font-family: #{$default-font-family};
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
