// @use 'assets/scss/mixins/theme' as *;
// @use 'assets/scss/variables/themes' as *;

:root  {
    // @include theme($default-theme);
    color-scheme: light;

    --theme-surface-primary: light-dark(#FFF, #010101);
    --theme-surface-secondary: light-dark(#F7F7F7, #1D1D1D);
    --theme-surface-overlay: light-dark(#01010166, red);
    --theme-content-primary: light-dark(#010101, #FFF);
    --theme-content-secondary: light-dark(#898989, #898989);
    --theme-line-primary: light-dark(#01010133, red);

    /* Button medium */
    --theme-button-medium-content: light-dark(#010101, red);
    --theme-button-medium-border: light-dark(#A9A9A9, red);
    --theme-button-medium-border-hover: light-dark(#010101, red);
    --theme-button-medium-border-pressed: light-dark(#010101, red);

    /* Button low */
    --theme-button-low-content:  light-dark(#4F4F4F, red);
    --theme-button-low-content-hover:  light-dark(#010101, red);
    --theme-button-low-content-pressed:  light-dark(#010101, red);
    --theme-button-low-bg: light-dark( transparent, red);
    --theme-button-low-bg-hover:  light-dark(#F2F2F2, red);
    --theme-button-low-bg-pressed:  light-dark(#EDEDED, red);
}

html {
    background-color: var(--theme-surface-primary);
    color: var(--theme-content-primary);
}
