@use 'assets/scss/mixins/theme' as *;

:root  {
    color-scheme: light;

    @include theme-light-dark;
}

html {
    background-color: var(--theme-surface-primary);
    color: var(--theme-content-primary);
}
