// Exported from variable2css figma plugin
// https://www.figma.com/community/plugin/1261234393153346915/variables2css

$themes: (
    light: (
        surface-primary: #FFF,
        surface-secondary: #F7F7F7,
        surface-overlay: #01010166,

        content-primary: #010101,
        content-secondary: #898989,

        line-primary: #01010133,

        button-medium-content: #010101,
        button-medium-border: #A9A9A9,
        button-low-content: #4F4F4F,
    ),
    dark: (
        surface-primary: #010101,
        surface-secondary: #1D1D1D,
        // surface-overlay: #01010166,

        content-primary: #FFFFFF,
        content-secondary: #898989,

        // line-primary: #01010133,

        // button-medium-content: #010101,
        // button-medium-border: #A9A9A9,
        button-low-content: #D1D1D1,
    ),
);
$default-theme: light;
