// Exported from variable2css figma plugin
// https://www.figma.com/community/plugin/1261234393153346915/variables2css

$themes: (
    light: (
        // badge-accessories-bg: #e9d9ff,
        // badge-accessories-content: #a765fc,
        // badge-clothing-bg: #ffd9df,
        // badge-clothing-content: #e5455e,
        // badge-footwear-bg: #ffdbcc,
        // badge-footwear-content: #e57545,
        // badge-home-bg: #d0f5e5,
        // badge-home-content: #3dcc8d,
        // badge-sport-bg: #d9f7ff,
        // badge-sport-content: #41bad9,

        button-high-bg: #010101,
        button-high-bg-disable: #d1d1d1,
        button-high-bg-hover: #272727,
        button-high-bg-pressed: #313131,
        button-high-content: #fff,
        button-high-content-disable: #898989,
        button-high-content-hover: #fff,
        button-low-bg-hover: #f2f2f2,
        button-low-bg-pressed: #ededed,
        button-low-content: #4f4f4f,
        button-low-content-disable: #898989,
        button-low-content-hover: #010101,
        button-medium-border: #a9a9a9,
        button-medium-border-disable: #898989,
        button-medium-border-hover: #010101,
        button-medium-border-pressed: #313131,
        button-medium-content: #010101,
        button-medium-content-disable: #898989,
        button-medium-content-hover: #010101,

        content-link-hover: #616161,
        content-primary: #010101,
        content-primary-inverted: #fff,
        content-secondary: #898989,
        content-secondary-inverted: #ededed,

        line-primary: #01010133,
        line-primary-inverted: #fff3,

        // menu-accessories-bg-hover: #e9d9ff,
        // menu-accessories-bg-selected: #a765fc,
        // menu-accessories-border: #a765fc,
        // menu-accessories-content: #a765fc,
        // menu-accessories-content-selected: #e9d9ff,
        // menu-clothing-bg-hover: #ffd9df,
        // menu-clothing-bg-selected: #e5455e,
        // menu-clothing-border: #e5455e,
        // menu-clothing-content: #e5455e,
        // menu-clothing-content-selected: #ffd9df,
        // menu-footwear-bg-hover: #ffdbcc,
        // menu-footwear-bg-selected: #e57545,
        // menu-footwear-border: #e57545,
        // menu-footwear-content: #e57545,
        // menu-footwear-content-selected: #ffdbcc,
        // menu-home-bg-hover: #d0f5e5,
        // menu-home-bg-selected: #3dcc8d,
        // menu-home-border: #3dcc8d,
        // menu-home-content: #3dcc8d,
        // menu-home-content-selected: #d0f5e5,
        // menu-sport-bg-hover: #d9f7ff,
        // menu-sport-bg-selected: #41bad9,
        // menu-sport-border: #41bad9,
        // menu-sport-content: #41bad9,
        // menu-sport-content-selected: #d9f7ff,

        surface-overlay: #01010166,
        surface-overlay-media: #0101010d,
        surface-primary: #fff,
        surface-primary-inverted: #010101,
        surface-secondary: #f7f7f7,
        surface-tertiary: #f2f2f2,

        // tag-accessories-bg-selected: #e9d9ff,
        // tag-accessories-border: #a765fc,
        // tag-accessories-content: #a765fc,
        // tag-clothing-bg-selected: #ffd9df,
        // tag-clothing-border: #e5455e,
        // tag-clothing-content: #e5455e,
        // tag-footwear-bg-selected: #ffdbcc,
        // tag-footwear-border: #e57545,
        // tag-footwear-content: #e57545,
        // tag-home-bg-selected: #d0f5e5,
        // tag-home-border: #3dcc8d,
        // tag-home-content: #3dcc8d,
        // tag-sport-bg-selected: #d9f7ff,
        // tag-sport-border: #41bad9,
        // tag-sport-content: #41bad9,
    ),
    dark: (
        // badge-accessories-bg: #3c1e63,
        // badge-accessories-content: #a765fc,
        // badge-clothing-bg: #591a24,
        // badge-clothing-content: #e5455e,
        // badge-footwear-bg: #5c2f1b,
        // badge-footwear-content: #e57545,
        // badge-home-bg: #1a593d,
        // badge-home-content: #3dcc8d,
        // badge-sport-bg: #1b4d59,
        // badge-sport-content: #41bad9,

        button-high-bg: #fff,
        button-high-bg-disable: #4f4f4f,
        button-high-bg-hover: #f2f2f2,
        button-high-bg-pressed: #ededed,
        button-high-content: #010101,
        button-high-content-disable: #898989,
        button-high-content-hover: #010101,
        button-low-bg-hover: #272727,
        button-low-bg-pressed: #313131,
        button-low-content: #d1d1d1,
        button-low-content-disable: #898989,
        button-low-content-hover: #fff,
        button-medium-border: #616161,
        button-medium-border-disable: #898989,
        button-medium-border-hover: #fff,
        button-medium-border-pressed: #ededed,
        button-medium-content: #fff,
        button-medium-content-disable: #898989,
        button-medium-content-hover: #fff,

        content-link-hover: #ededed,
        content-primary: #fff,
        content-primary-inverted: #010101,
        content-secondary: #898989,
        content-secondary-inverted: #313131,

        line-primary: #fff3,
        line-primary-inverted: #01010133,

        // menu-accessories-bg-hover: #fff,
        // menu-accessories-bg-selected: #fff,
        // menu-accessories-border: #fff,
        // menu-accessories-content: #fff,
        // menu-accessories-content-selected: #fff,
        // menu-clothing-bg-hover: #fff,
        // menu-clothing-bg-selected: #fff,
        // menu-clothing-border: #fff,
        // menu-clothing-content: #fff,
        // menu-clothing-content-selected: #fff,
        // menu-footwear-bg-hover: #fff,
        // menu-footwear-bg-selected: #fff,
        // menu-footwear-border: #fff,
        // menu-footwear-content: #fff,
        // menu-footwear-content-selected: #fff,
        // menu-home-bg-hover: #fff,
        // menu-home-bg-selected: #fff,
        // menu-home-border: #fff,
        // menu-home-content: #fff,
        // menu-home-content-selected: #fff,
        // menu-sport-bg-hover: #fff,
        // menu-sport-bg-selected: #fff,
        // menu-sport-border: #fff,
        // menu-sport-content: #fff,
        // menu-sport-content-selected: #fff,

        surface-overlay: #010101b2,
        surface-overlay-media: #0101010d,
        surface-primary: #010101,
        surface-primary-inverted: #fff,
        surface-secondary: #1d1d1d,
        surface-tertiary: #272727,

        // tag-accessories-bg-selected: #3c1e63,
        // tag-accessories-border: #3c1e63,
        // tag-accessories-content: #a765fc,
        // tag-clothing-bg-selected: #591a24,
        // tag-clothing-border: #591a24,
        // tag-clothing-content: #e5455e,
        // tag-footwear-bg-selected: #5c2f1b,
        // tag-footwear-border: #5c2f1b,
        // tag-footwear-content: #e57545,
        // tag-home-bg-selected: #1a593d,
        // tag-home-border: #1a593d,
        // tag-home-content: #3dcc8d,
        // tag-sport-bg-selected: #1b4d59,
        // tag-sport-border: #1b4d59,
        // tag-sport-content: #41bad9,
    ),
);
$default-theme: light;
